.MyVillages{
    flex:9;
    display: flex;
    flex-wrap: wrap;
    margin:20px;

}
.plan{
    font-family:"Georgia";
    font-size:30px;
    height:300px;
    border-radius: 20px;
    padding: 20px;
    width:350px;
    margin:15px 25px 40px 25px;
    
}


.nameplan{
    font-size:250%;
}

.ViewMore{
    font-size:150%;
}





