.header{
    margin: top 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;

}

.header1{
   
    
    font-size: 100px;

}
.images{
    width: 800px;
    height: 400px;
}